* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body header {
  position: sticky;
  top: 0;
  z-index: 10;
}
body header .nav-font {
  font-weight: bold;
}
body header .nav-logo {
  font-weight: bold;
  font-size: 40px;
}
body header .btn-form {
  background-color: orange;
  border: none;
}
body #banner .cst-container {
  padding: 200px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body #banner .cst-container h2 {
  color: white;
  text-shadow: 0px 1px 1px black;
}
body #banner .cst-container h1 {
  color: white;
  padding: 20px 0px;
  font-size: 70px;
  text-shadow: 0px 1px 1px black;
}
body #banner .cst-container h1 .changecontent::after {
  content: "";
  color: orange;
  text-shadow: 0px 1px 1px black;
  animation: changetxt 10s infinite linear;
}
@keyframes changetxt {
  0% {
    content: "Frnace";
  }
  10% {
    content: "Spain";
  }
  20% {
    content: "U.S.";
  }
  30% {
    content: "China";
  }
  40% {
    content: "India";
  }
  50% {
    content: "Pakistan";
  }
  60% {
    content: "Italy";
  }
  70% {
    content: "Turkey";
  }
  80% {
    content: "Maxico";
  }
  90% {
    content: "Germany";
  }
  100% {
    content: "U.K.";
  }
}
body #banner .cst-container p {
  color: white;
  padding-bottom: 20px;
  text-shadow: 0px 1px 1px black;
  font-size: 30px;
}
body #banner .cst-container a {
  text-decoration: none;
  background-color: white;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 25px;
}
body #book .book-heading {
  font-size: 40px;
  text-shadow: 0px 1px 1px black;
}
body #book .submit {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}
body #book .submit:hover {
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.49);
}
body #packages .package-heading {
  text-shadow: 0px 1px 1px black;
}
body #packages .card {
  border: none;
  box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.27);
}
body #services .cst__heading h1 {
  text-shadow: 0px 1px 1px black;
}
body #services .cst-service-logo {
  color: orange;
  font-size: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
body #gallery .heading {
  text-shadow: 0px 1px 1px black;
}
body #gallery .gallery-img img {
  border-radius: 10px;
  -o-object-fit: fill;
     object-fit: fill;
  transition: all 0.5s;
}
body #gallery .gallery-img img:hover {
  transform: scale(1.1);
}
body #about-us .about-heading {
  text-shadow: 0px 1px 1px black;
}
body #about-us .read-more {
  padding: 15px 20px;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
}
body #about-us .read-more:hover {
  box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.27);
}
body #footer .fa-brands {
  font-size: 30px;
  padding: 0px 10px;
}/*# sourceMappingURL=style.css.map */